.navigation {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.navigation ul{
  display: flex;
  list-style-type: none;
  gap: 14px;
  font-weight: 500;

}