.contact_section{
    max-width: 1000px;
    margin: 0 auto;
}

.contact_section h1{
    font-size: 28px;
    font-weight: 800;
    max-width: 80%;
}
.contact_section p{
    font-size: 15px;
    font-weight: 400;
}